.box {
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 50px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    margin: 5px;
}
#hud {
    position: fixed; 
    left: 16px; 
    top: 16px;
    padding: 8px 12px; 
    border-radius: 12px;
    background: rgba(0,0,0,.6); 
    color: #fff;
    display: flex; 
    gap: 8px; 
    align-items: center;
    z-index: 1000;
    button { 
        cursor: pointer; 
    }
}
hidden { display: none !important; }
